body {
  background-color:aliceblue;
}

.avatar {
  width: 200px;
  border-radius: 50px;
}

.header {
  border: 1px solid red;
}

.main {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

.container {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}


.nav-link {
  padding: 0 20px;
  line-height: 20px;
}

.logors {
  width: 100px;
}

/* .footer-span {
  margin: 0 150px;
} */